// import fonts

@font-face {
  font-family: 'Orator';
  src: url('../fonts/OratorStd.otf');
}

@font-face {
  font-family: 'Avenir Ultralight';
  src: url('../fonts/avenir-ultralight.otf');
}

@font-face {
  font-family: 'Avenir Light';
  src: url('../fonts/avenir-light.otf');
}

@font-face {
  font-family: 'Avenir Medium';
  src: url('../fonts/avenir-medium.otf');
}

// general styles

body {
  text-align: center;
  color: #303030;
}

.page-container {
  max-width: 100vw;
  overflow: hidden;
}

h1, h2, h3, a {
  font-family: 'Orator', sans-serif;
  text-transform: uppercase;
}

h4, h5, h6, p, ul.left {
  font-family: 'Avenir Light', sans-serif;
  width: 70%;
  min-width: 290px;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 2;
  padding: 20px 0;
}

p {
  font-size: 1.1em;
}

.bold {
  font-family: 'Avenir Medium', sans-serif;
}

.left {
  text-align: left;
}

a, a:visited {
  text-decoration: none;
  color: #303030;
  transition: 0.2s;
  &:hover {
    color: #4a9970;
    transition: 0.2s;
  }
}

.sec {
  min-height: 70vh;
}

.divider {
  width: 90%;
  padding: 40px 0;
}

.gap {
  line-height: 4;
}

.big {
  font-size: 1.3em;
}

.big-margin {
  margin-top: 40px;
}

.small-margin {
  margin-top: -30px;
}

@media (max-width: 500px) {
  .divider {
    width: 100%;
  }
  p {
    width: 95%;
  }
}

// import page sections

@import 'nav';
@import 'hero';
@import 'sections';
