.hero {
  text-align: center;
  .names {
    width: 30%;
    min-width: 290px;
    margin-bottom: 20px;
  }
  .photo {
    width: 80%;
    border: 2px solid #262626;
    padding: 15px;
    min-width: 290px;
  }
}

@media (max-width: 500px) {
  .hero {
    .photo {
      width: 95%;
      padding: 5px;
    }
  }
}
